@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: white;
    background-size: 100% 300%;
    background-color: rgb(70, 14, 14);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.header {
    background-color: rgb(23, 10, 10);
    text-align: center;
    box-shadow:  0px 3px 10px 2px black;
    color: rgb(224, 224, 136);
}

.result {
    text-align: center;
}

.display {
    display: flex;
    justify-content: center;
    gap: 160px;
}

.player, 
.computer {
    text-align: center;
}

#vs {
    padding-top: 30px;
    font-size: 50px;
}

#playerIcon, #computerIcon {
    margin-top: 0px;
    font-size: 50px;
}

.player-selection {
    margin: 0;
    padding: 20px 400px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.choice {
    width: 100px;
    height: 100px;
    background-color: rgb(236, 254, 38);
    color: black;
    font-size: 50px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 3px 10px 2px black;
}

.choice:hover {
    background-color: rgb(255, 255, 148);
}

